@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bright_orange: hsl(31, 77%, 52%);
  --dark_cyan: hsl(184, 100%, 22%);
  --very_dark_cyan: hsl(179, 100%, 13%);
  --colour_paragraph: hsla(0, 0%, 100%, 0.75);
  --basically_white: hsl(0, 0%, 95%);
  background-color: var(--basically_white);
  font-family: "Lexend Deca", sans-serif;
}
main {
  color: var(--colour_paragraph);
  padding: 3em 1em 1em 1em;
  min-width: 240px;
  max-width: 416px;
  margin: auto;
}

#sedan {
  background-color: var(--bright_orange);
  border-radius: 10px 10px 0 0;
}
#suvs {
  background-color: var(--dark_cyan);
}
#luxury {
  background-color: var(--very_dark_cyan);
  border-radius: 0 0 10px 10px;
}
.title {
  color: var(--basically_white);
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}
.learn_more {
  text-decoration: none;
  background-color: var(--basically_white);
  padding: 12px 25px;
  border-radius: 50px;
  display: inline-block;
  border: 2px solid var(--basically_white);
}

#sedan .learn_more {
  color: var(--bright_orange);
}
#suvs .learn_more {
  color: var(--dark_cyan);
}
#luxury .learn_more {
  color: var(--very_dark_cyan);
}
.learn_more:hover {
  background-color: inherit;
  color: var(--basically_white) !important;
}

.card {
  padding: 2.5em;
  max-width: 310px;
}

.desc {
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

@media screen and (min-width: 1000px) {
  main {
    display: flex;
    justify-content: center;
    max-width: 2000px;
  }
  .learn_more {
    margin-top: 4em;
  }
  #sedan {
    border-radius: 10px 0 0 10px;
  }
  #luxury {
    border-radius: 0 10px 10px 0;
  }
}
